section.wrapper
{
    font-family: cursive;
    text-align: center;
}

canvas 
{
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
    background-image: url("sky.png");   /*set background image*/
}

.fullscreen
{
    background-color: aliceblue;
    box-shadow: 2px 2px rgba(94, 94, 143, 0.4);
    border: 2px dotted rgba(0, 0, 255, 0.4);
    font-family: monospace;
    border-radius: 8px;
    font-size: 16px;
    margin: 20px 10px;
    padding: 5px 15px;
}

.open:hover 
{
    background-color: rgba(255, 193, 254, 0.5);
    color: rgb(54, 4, 53);
}

.close:hover
{
    background-color: rgba(179, 47, 255, 0.5);
    color: rgb(255, 255, 255);
}

.open:active 
{     
    background-color: rgba(255, 117, 253, 0.5);
    color: rgb(0, 0, 0);  
}

.close:active
{
    background-color: rgba(162, 0, 255, 0.6);
    color: rgb(255, 255, 255);
}

/*---------------------D-PAD below--------------------------------*/
.button 
{
    background-color: #fca6f5;
    border: none;
    box-shadow: 0 9px#fc7feb;
    padding: 30px;
    text-align: center;
    font-size: 38px;
}
    
.button:hover 
{
    background-color: #ffbcf4;
}
    
.button:active 
{
    box-shadow: 0 5px #fca6f5;
    transform: translateY(5px);
}
    
.red 
{
    color: #bb2582;
}
    
.round 
{
    border-radius: 50%;
}

#buttons
{
    position:absolute;
    left:2vw;
    top:15vh;
    font-size: 50%;
    text-align: center;
    margin: 0px;
}

#joystick
{
    position: absolute;
    width: 150px;
    height: 150px;
    right: 150px;
    bottom: 570px;
    /*outline: solid pink 1px;*/
}


/*---------------------------Game save data information--------------------------------*/

div#modal{
    display: none;  /*do not show*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }